<h1>Movies</h1>

<ul>
<% @movies.each do |movie| %>
  <li>
    <strong><%= movie.title %></strong> (<%= movie.rating %>):
    <%# <%= movie.total_gross %>
    <%# <%= number_to_currency(movie.total_gross, precision: 0) %>
    <%= total_gross(movie) %>
  </li>
  <p>
  <%# <%= movie.description %>
  <%= truncate(movie.description, length: 40, separator: ' ') %>
</p>
<p>
  <%# <%= movie.released_on %>
  <%= year_of(movie) %>
</p>
<% end %>
</ul>
